.tickets-content {
  &__grid {
    @include media(mobile, up) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 0 60px;
    }

    @include media(mobile) {
      padding: 20px 0 30px;
    }
  }

  &__form {
    @include media(mobile, up) {
      padding-right: 90px;
      border-right: 1px solid transparentize(black, 0.5);
    }

    .form {
      @include media(mobile, up) {
        margin-top: 37px;
      }

      @include media(mobile) {
        margin-top: 40px;
      }
    }
  }

  &__info {
    @include media(mobile, up) {
      padding-top: 18px;
      padding-left: 85px;
    }

    @include media(mobile) {

    }

    > * {
      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      display: block;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.07em;
      text-transform: uppercase;

      + p {
        margin-top: 42px;
      }
    }

    p {
      display: block;
      margin: 62px 0 0;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 21px;
      color: $color-error;

      + ul.halls-list {
        margin-top: 4px;
      }
    }

    ul.halls-list {
      display: block;
      max-width: 485px;
      margin: 25px 0 0;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 133%;
      list-style-type: none;
      counter-reset: li-counter;

      li {
        position: relative;
        padding-left: 78px;
      }

      li::before {
        position: absolute;
        top: 0;
        left: 0;
        content: 'Зал № ' counter(li-counter) ' - ';
        counter-increment: li-counter;
        display: block;
      }
    }

    ul {
      max-width: 485px;
      margin: 25px 0 0;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.02em;
      line-height: 133%;
      list-style-type: none;

      li::before {
        content: '-';
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}