<section class="tickets-content">
  <div class="container-md">
    <div class="tickets-content__grid js-tickets">
      <div class="tickets-content__form">
        <h1 class="page-title">Входной билет</h1>

        <div class="tickets-form form">
          <form>
            <div class="form__item">
              <p class="form__title">МУЗЕЙ:</p>

              <div class="form-select">
                <select class="js-select visually-hidden" name="tickets-form-museums" data-placeholder="не выбрано">
                  <option value="Государственный художественный музей">Государственный художественный музей</option>
                  <option value="Галерея-мастерская художника Г.С.Райшева">Галерея-мастерская художника Г.С.Райшева</option>
                  <option value="Дом-музей народного художника СССР В.А.Игошева">Дом-музей народного художника СССР В.А.Игошева</option>
                </select>
              </div>
            </div>
            <div class="form__item">
              <p class="form__title">ЗАЛЫ:</p>
              <div class="tickets-form__checkboxes">
                <div class="tickets-form__checkboxes-columns">
                  <div class="tickets-form__checkboxes-list">
                    {{>form/checkbox
                        checked=1
                        aria-label="1-й зал"
                        label="1-й зал <b>50 руб</b>"
                    }}
                    {{>form/checkbox
                        checked=1
                        aria-label="2-й зал"
                        label="2-й зал <b>50 руб</b>"
                    }}
                    {{>form/checkbox
                        checked=1
                        aria-label="3-й зал"
                        label="3-й зал <b>50 руб</b>"
                    }}
                    {{>form/checkbox
                        checked=1
                        aria-label="4-й зал"
                        label="4-й зал <b>50 руб</b>"
                    }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form__item">
              <p class="form__title">ТИП БИЛЕТА:</p>
              <div class="form-select">
                <select class="js-select visually-hidden" name="tickets-form-museums" data-placeholder="не выбрано">
                  <option value="стандартный" selected="selected">стандартный</option>
                  <option value="льгота 50 %">льгота 50 %</option>
                  <option value="льгота 100 %">льгота 100 %</option>
                </select>
              </div>
              <p><a class="primary-link primary-link--u" href="#">Подробнее о льготных категориях</a></p>
            </div>
            <div class="form__item">
              <p class="form__title">КОЛИЧЕСТВО:</p>
              {{>form/counter}}
            </div>
            <div class="form__item">
              <p class="form__title">E-MAIL:</p>
              {{>form/input
                  type="email"
                  field-name="form-email"
                  placeholder="не указано"
                  inputmode="email"
                  aria-label="Введите ваш почтовый адрес."
                  message="После оплаты билет будет доступен для скачивания и печати, также будет отправлен на указанный e-mail."
              }}
            </div>
            <div class="form__item">
              <p class="form__title">ВЫБРАНО:</p>
              <div class="form__summary">
                <p class="form__summary-name">Музей: <span></span></p>
                <p class="form__summary-hall">Залы: <span>1-й зал, 2-й зал, 3-й зал</span></p>
                <p class="form__summary-type">Тип билета: <span>Стандартный</span></p>
                <p class="form__summary-amount">Количество: <span>1 шт</span></p>
                <p class="form__summary-email">E-mail: <span></span></p>
              </div>
            </div>
            <div class="form__item">
              <div class="tickets-form__total">
                <div class="tickets-form__total-amount">200 руб</div>
                <div class="tickets-form__total-submit">
                  {{>ui/btn button=1 label="оформить" type="submit"}}
                </div>
              </div>
              <div class="tickets-form__total">
                <div class="tickets-form__total-amount">200 руб</div>
                <div class="tickets-form__total-submit">
                  {{>ui/btn button=1 label="оформить" disabled=1 type="submit"}}
                  <p class="tickets-form__total-message">Не выбран музей</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="tickets-content__info js-tickets__mobile-content">
        <div class="tickets-static">
          <h2>Информация о залах:</h2>
          <p>Государственный художественный музей</p>
          <ul class="halls-list">
            <li>Постоянная экспозиция «Русское искусство XVIII&nbsp;-&nbsp;XX&nbsp;веков»</li>
            <li>Постоянная экспозиция «Иконопись XV-XIX веков»</li>
            <li>Зал временных выставок №1 «Оливковый зал»</li>
            <li>Зал временных выставок №2 «Серый зал»</li>
          </ul>
          <p>Галерея-мастерская художника Г.С.Райшева</p>
          <ul class="halls-list">
            <li>Постоянная экспозиция «Человек. Природа. Космос.»</li>
            <li>Зал временных выставок. Конференц-зал</li>
            <li>Постоянная экспозиция «Геннадий Райшев. Ранняя живопись: прошлое, обращенное в будущее.»</li>
            <li>Постоянная экспозиция «Геннадий Райшев. Графика: поиски и эксперименты. 1960-е – 80-е годы»</li>
          </ul>
          <p>Дом-музей народного художника СССР В.А.Игошева</p>
          <ul class="halls-list">
            <li>Зал временных выставок «Творческая мастерская «У камина»</li>
            <li>Постоянная экспозиция «Северный путь»</li>
            <li>Постоянная экспозиция «Мастерская художника»</li>
            <li>Зал временных выставок «Музейная гостиная»</li>
          </ul>
        </div>
        <button class="tickets-content__mobile-close js-tickets__mobile-close"></button>
      </div>
      <button class="tickets-content__mobile-open js-tickets__mobile-open" type="button">i</button>
    </div>
  </div>
</section>