<section class="inner-page">
  <div class="container-md">
    <div class="inner-page__container">
      <div class="inner-page__content">
        <div class="static">
          <h2>1. Общие положения</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>2. Режим работы</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>3. Вход в Галерею и приобретение билетов</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>4. Возврат билетов</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>5. Порядок обслуживания Посетителей</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>6. Посетители МУЗЕЯ обязаны</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>7. Посетители имеют право</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>8. Посетителям на территории МУЗЕЯ запрещается</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
          <h2>9. МУЗЕЙ обязан</h2>
          <p> По латыни профессор Richard McClintock - человек, которому приписывают открытие корни Lorem Ipsum - он,
            скорее всего, что когда-то в средние века наборщиком вскарабкался часть Цицерона De Finibus для того, чтобы
            предоставить текст-заполнитель для смоделируйте различных шрифтов для типа образца книги. Но это было только
            начало.</p>
        </div>
      </div>
    </div>
  </div>
</section>