.btn {
  display: inline-block;
  padding: 10px 40px 8px;
  color: $color-primary;
  font-family: "Book Antiqua", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 17px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  border-radius: unset;
  border: 1.5px solid currentColor;
  cursor: pointer;
  @include transition;

  &:hover {
    color: $color-primary-hover;
  }

  &:active {
    color: $color-black;
  }

  //&--focus {
  //  outline: 1px solid $color-primary-hover;
  //}

  &[disabled],
  &--disabled {
    color: $color-grey;
    pointer-events: none;
  }

  // Sizes
  //&--small {
  //  @include btn-small;
  //}
  //
  //&--large {
  //  @include btn-large;
  //}
  //
  //&--w100 {
  //  width: 100%;
  //}
  //
  //// Primary
  //&--primary {
  //  color: $color-white;
  //  background-color: $color-primary;
  //  border: 1px solid $color-primary;
  //
  //  &:hover {
  //    color: $color-primary;
  //    background-color: $color-white;
  //  }
  //}
}
