.form {
  &__item {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    + * {
      margin-top: 17px;
    }
  }

  &__summary {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }


  &-field {
    position: relative;

    &__label {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
    }

    &__input {
      display: block;
      width: 100%;
      height: 45px;
      padding: 0 13px;
      border: 1px solid $color-black;

      &:focus {
        border-color: $color-primary;
        background-color: transparent;
      }

      &::placeholder {
        position: relative;
        bottom: 1px;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.02em;
        line-height: 45px;
      }
    }

    &__message {
      display: block;
      margin: 10px 0 0;
      font-size: 14px;
      color: $color-primary;
      letter-spacing: 0.02em;

      &--error {
        color: $color-red-100;
      }
    }
  }

  &-checkbox,
  &-radio {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__label {
      position: relative;
      display: flex;
      align-items: center;
      font-size: #{px-to-rem(16)};
      line-height: normal;
    }

    &__input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-radio {
    $radio-value: 23px;

    &__input {
      width: $radio-value;

      &:checked + * {
        border: 5px solid $color-primary;
      }
    }

    &__icon {
      display: block;
      margin-right: 13px;
      width: $radio-value;
      height: $radio-value;
      border: 2px solid $color-gray-40;
      border-radius: 50%;
    }
  }

  &-textarea {
    width: 100%;
    display: block;
    border: 2px solid transparent;
    padding: 12px 17px;
    min-height: 130px;
    border-radius: 3px;
    background-color: #f8f8f9;
    resize: none;

    &:focus {
      border-color: $color-primary;
      background-color: transparent;
    }
  }

  &-switcher {
    $switcher-width: 40px;
    $switcher-value: 15px;
    $switcher-padding: 4px;

    position: relative;
    display: inline-flex;
    min-width: $switcher-width;
    //min-height: 22px;
    border-radius: 46px;
    overflow: hidden;

    &__input {
      @include fill;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
      border-radius: 100px;

      &:checked + * {
        background-color: $color-primary;

        > * {
          transform: translateX($switcher-width - $switcher-value - ($switcher-padding * 2));

          &::before {
            //@include sprite('switcher-on');
            //animation: switchOnOff 350ms ease forwards;
          }
        }
      }
    }

    &__label {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
      padding: $switcher-padding;
      background-color: $color-gray-100;
      transition: all 350ms ease;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $switcher-value;
        height: $switcher-value;
        background-color: $color-white;
        border-radius: 50%;
        transition: all 350ms ease;

        &::before {
          content: '';
          //@include sprite('switcher-off');
          //animation: switchOnOff 350ms ease forwards;
        }
      }
    }
  }

  &-error {
    * {
      border-color: $color-red-100;

      &:focus {
        border-color: $color-red-100;
      }
    }
  }
}


.form-checkbox {
  $checkbox-value: 18px;
  --checkbox-value: #{$checkbox-value};
  justify-content: flex-start;

  &__input,
  &__label {
    cursor: pointer;
  }

  &__label-text {
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;

    a {
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }
    }

    b {
      margin-left: 18px;
    }
  }

  &__input {
    width: var(--checkbox-value);

    &:checked {
      + * {
        &::before {
          opacity: 1;
        }
      }
    }

    //&:focus {
    //  + * {
    //    outline-offset: 10px;
    //    outline: 1px solid $color-primary-hover;
    //  }
    //}
  }

  &__icon {
    flex: 0 0 var(--checkbox-value);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    width: var(--checkbox-value);
    height: var(--checkbox-value);
    border: 1px solid $color-black;
    border-radius: unset;
    @include transition;

    &::before {
      content: '';
      @include sprite('check');
      display: block;
      opacity: 0;
    }
  }
}

.form-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: 40px;
  padding: 0 6px 0 4px;
  border: 1px solid $color-black;

  &__btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 16px;

    &:disabled {
      color: $color-grey;
      cursor: not-allowed;
    }

    &:first-child {
      &::before {
        content: '';
        display: block;
        @include sprite('minus');
      }

      &:not(:disabled):hover {
        &::before {
          @include sprite('minus-h');
        }
      }


      &:disabled::before {
        @include sprite('minus-d');
      }
    }

    &:last-child {
      //&::after,
      &::before {
        content: '';
        display: block;
        @include sprite('plus');
      }

      &:hover {
        &::before {
          @include sprite('plus-h');
        }
        //&::after {
        //  height: 1.5px;
        //}
      }

      //&::after {
      //  transform: translate(-50%, -50%) rotate(90deg);
      //}
    }
  }

  &__input {
    display: block;
    padding: 0 5px;
    width: 55px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-align: center;
    border: unset;

    //&:focus {
    //  outline: 1px solid $color-primary-hover;
    //}
  }
}

.form-select {
  + * {
    margin-top: 10px;
  }

  .select2-selection--single {
    display: flex;
    align-items: center;
    min-height: 45px;
    height: auto!important;
    border: 1px solid $color-black;
    border-radius: unset;
  }

  .select2-selection__rendered {
    width: 100%;
    padding: 15px 40px 15px 13px !important;
    font-size: 13px!important;
    color: $color-black!important;
    letter-spacing: 0.02em;
    line-height: unset!important;
    text-transform: uppercase;
    white-space: unset!important;
  }

  .select2-selection__placeholder {
    font-size: 13px;
    color: $color-grey;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }

  .select2-selection__arrow {
    width: 25px!important;
    height: 25px!important;
    right: 17px!important;
    top: 50%!important;
    transform: translateY(-50%);

    b {
      width: 14px!important;
      height: 8px!important;
      @include sprite('down');
      border: unset!important;
    }
  }
  .select2-container--open .select2-selection__arrow b {
    transform: rotate(180deg) !important;
  }

}

.select2-dropdown {
  padding-bottom: 10px;
  border-color: $color-black;
  border-radius: unset;
}

.select2-results__option {
  padding: 14px 43px 14px 13px;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  &:active {
    font-weight: 500;
  }
}

.select2-results__option[aria-selected=true] {
  background-color: #F9F6F3 !important;
}

.select2-results__option--highlighted[aria-selected] {
  background-color: #F9F6F3 !important;
  color: initial !important;
}
