<section class="inner-page">
  <div class="container-md">
    <div class="inner-page__container">
      <p class="inner-page__attention error-text">Внимание! Льгота предоставляется только при предъявления документа
        подтверждающего право на льготное посещение.</p>
      <div class="inner-page__content">
        <div class="static">
          <h2>Предоставление льготы 50%:</h2>
          <ul>
            <li>Лица, не достигшие восемнадцати лет (входной билет, экскурсионное обслуживание);</li>
            <li>Члены многодетных семей (входной билет, экскурсионное обслуживание);</li>
            <li>Пенсионеры (входной билет);</li>
            <li>Лица, обучающиеся по основным профессиональным образовательным программам (экскурсионное обслуживание).
            </li>
          </ul>
          <h2>Предоставление льготы 100%:</h2>
          <ul>
            <li>Лица, не достигшие шестнадцати лет (входной билет);</li>
            <li>Лица, не достигшие восемнадцати лет (входной билет). Льгота предоставляется 1 раз в месяц;</li>
            <li>Члены многодетных семей (входной билет, экскурсионное обслуживание). Льгота предоставляется 1 раз в
              месяц;
            </li>
            <li>Инвалиды;</li>
            <li>Лица, обучающиеся по основным профессиональным образовательным программам (входной билет, экскурсионное
              обслуживание). Льгота предоставляется 1 раз в месяц;
            </li>
            <li>Военнослужащие, проходящие военную службу по призыву (входной билет, экскурсионное обслуживание);</li>
            <li>Граждане России, удостоенные званий Героя Советского Союза, Героя Российской Федерации и являющиеся
              полными кавалерами ордена Славы (входной билет, экскурсионное обслуживание);
            </li>
            <li>Граждане Российской Федерации, удостоенные звания Героя Социалистического Труда или Героя Труда
              Российской
              Федерации, и граждане Российской Федерации, награжденные орденом Трудовой Славы трех степеней (входной
              билет, экскурсионное обслуживание).
            </li>
          </ul>
          <a href="#">Ссылка</a>
        </div>
      </div>
    </div>
  </div>
</section>