.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-download {
  width: 22px;
  height: 22px;
}
.icon-eye {
  width: 31px;
  height: 22px;
}
.icon-map {
  width: 24px;
  height: 24px;
}
.icon-phone {
  width: 24px;
  height: 24px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-print {
  width: 25px;
  height: 23px;
}
.icon-rightBig {
  width: 15px;
  height: 24px;
}
.icon-time {
  width: 24px;
  height: 24px;
}
