$icons: (sprite: (width: 54px, height: 46px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
check: (width: 14px, height: 12px, backgroundX: 0px, backgroundY: 0px),
down: (width: 14px, height: 8px, backgroundX: -14px, backgroundY: -12px),
popup-close: (width: 26px, height: 26px, backgroundX: -28px, backgroundY: -20px),
);
